[include kiauh_macros.cfg]
[include macros.cfg]
[include extruders_titan/printer.cfg]
#[include extruders_std/printer.cfg]
[mcu]
baud: 250000
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
pin_map: arduino

[resonance_inducer]
probe_points: 110,110,30

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

[printer]
kinematics: cartesian
max_z_velocity: 20
max_z_accel: 60

[bed_screws]
screw1: 25,35
screw2: 25,185
screw3: 195,185
screw4:	195,35

[stepper_x]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
rotation_distance: 40
microsteps: 16
endstop_pin: ^!ar3
position_endstop: -48
position_max: 220
position_min: -50
homing_speed: 40
homing_positive_dir: false

# Definition for the secondary carriage and extruder1
[dual_carriage]
axis: x
step_pin: ar36
dir_pin: ar34
enable_pin: !ar30
rotation_distance: 40
microsteps: 16
endstop_pin: ^!ar2
position_endstop: 265
position_min: 0
position_max: 265
homing_speed: 40

[stepper_y]
step_pin: ar60
dir_pin: !ar61
enable_pin: !ar56
rotation_distance: 40
microsteps: 16
endstop_pin: ^!ar14
position_endstop: 0
position_max: 220
homing_speed: 30

[stepper_z]
step_pin: ar46
dir_pin: ar48
enable_pin: !ar62
microsteps: 16
rotation_distance: 4
endstop_pin: ^!ar18
position_max: 250
position_min: -0.2

[stepper_z1]
step_pin: ar65
dir_pin: ar66
enable_pin: !ar64
microsteps: 16
rotation_distance: 4
endstop_pin: ^!ar19

[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
min_temp: 0
max_temp: 110
control: pid

[fan]
pin: ar9
max_power: 1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0

[heater_fan fan]
pin: ar5
heater: extruder,extruder1
heater_temp: 80.0
fan_speed: 1.0


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 20.738
#*# pid_ki = 1.106
#*# pid_kd = 97.207
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.306
#*# pid_ki = 0.781
#*# pid_kd = 1407.349
#*#
#*# [extruder1]
#*# control = pid
#*# pid_kp = 24.794
#*# pid_ki = 1.531
#*# pid_kd = 100.417
#*#
#*# [stepper_z]
#*# position_endstop = -0.099
